<div class="wrapper">
  <div class="page-login">
    <span class="panel-opacity"></span>
    <div class="title">
      TRƯỜNG ĐẠI HỌC DUY TÂN - KHOA CÔNG NGHỆ THÔNG TIN
      <br>
      ĐỀ TÀI: Quản Lý Và Giám Sát Dự Án Từ Xa
    </div>
    <div class="form-login">
      <div class="form-title">Đăng Nhập</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-group">
          <div><%= f.label :email %></div>
          <div><%= f.email_field :email, autofocus: true %></div>
        </div>

        <div class="login-group">
          <div><%= f.label :password %></div>
          <div><%= f.password_field :password, autocomplete: "off" %></div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="login-group">
            <%= f.check_box :remember_me, class: "remember" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn-login" %>
        </div>
      <% end %>

     <!--  <%= render "devise/shared/links" %> -->
    </div>
    <div style="font-size: 20px;position: absolute;left: 50%;transform: translateX(-50%);bottom: 50px;color: white;z-index: 1000;">
       <br>
       SVTH: PHẠM THÀNH LUÂN
       <br>
       GVHD: ThS.NGUYỄN THỊ MINH THI
    </div>
  </div>
</div>
