<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="ABC">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= "STT" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= "Tên" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= "Check-in" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= "Check-out" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= "Thời gian" %></Data></Cell>
      </Row>
      <% @i = 0 %>
      <% @timesheets.each do |ts| %>
        <% @i += 1 %>
        <Row>
          <Cell><Data ss:Type="Number"><%= @i %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ts.user.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= l ts.start, format: "%H:%M %d/%m/%Y" %></Data></Cell>
          <Cell><Data ss:Type="String"><%= l ts.end, format: "%H:%M %d/%m/%Y" %></Data></Cell>
          <Cell><Data ss:Type="String"><%= Time.at(ts.end - ts.start).utc.strftime("%H:%M:%S") %></Data></Cell>
        </Row>
      <% end %>
      <Row>
        <Cell><Data ss:Type="String"><%= "Số phiên làm việc: " %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @timesheets.size %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= "Tổng số thời gian: " %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Time.at(total_timesheets @timesheets).utc.strftime("%H:%M:%S") %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
