<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Quản lý timesheet</h4>
          <p class="category">Theo dõi timesheet theo từng dự án, từng nhân viên...</p>
        </div>
        <div class="card-content table-responsive">
          <div class="timesheet-info row">
            <div class="col-md-6 col-xs-12">
              <label class="title">Số phiên làm việc:</label>
              <label class="content count-timesheets"><%= @timesheets.size %></label>
            </div>
            <div class="col-md-6 col-xs-12">
              <label class="title">Tổng thời gian:</label>
              <label class="content total-timesheets">
                <%= Time.at(total_timesheets @timesheets).utc.strftime("%H:%M:%S") %>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Chọn dự án</label>
                  <%= select_tag "timesheet-list-projects",
                    options_for_select(@projects.present? ? @projects.collect{|p| [p.name, p.id]} : []),
                    {class: "select-timesheet", include_blank: "Tất cả", remote: true} %>
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Chọn nhân viên</label>
                  <%= select_tag "timesheet-list-users",
                    options_for_select(@users.present? ? @users.collect{|p| [p.name, p.id]} : []),
                    {class: "select-timesheet", include_blank: "Tất cả"}  %>
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover"
              cellspacing="0" width="100%" style="width:100%">
              <thead class="text-primary">
                <tr>
                  <th>Tên</th>
                  <th>Chức vụ</th>
                  <th>Ngày tạo</th>
                  <th>Check-in</th>
                  <th>Check-out</th>
                  <th>Thời gian</th>
                  <th>Screenshot</th>
                  <th>Chức năng</th>
                </tr>
              </thead>
              <tbody id="ABCD">
                <%= render partial: "timesheet", collection: @timesheets %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-images-timesheet">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Danh sách screenshot trong phiên làm việc được chọn</h4>
      </div>
      <div class="modal-body">
        <div class="load-model-scrs">
          <%= render "model_scrs" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Xong", "javascript:", class: "btn btn-default", "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div>
<%= link_to timesheets_path(format: "xls"), id: "report-timesheet", class: "btn btn-primary" do %>
  <%= "Tải về" %>
<% end %>

