<div class="logo">
  <%= link_to "QLDA", root_path, class: "simple-text" %>
</div>

<div class="sidebar-wrapper">
  <ul class="nav">
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <p>Thông tin tổng quát</p>
      <% end %>
    </li>
    <li>
      <a data-toggle="collapse" href="#pagesUsers">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>Quản lý nhân viên<b class="caret"></b></p>
      </a>
      <div class="collapse" id="pagesUsers">
        <ul class="nav">
          <li>
            <%= link_to "Thêm nhân viên mới", new_staff_path %>
          </li>
          <li>
            <%= link_to "Danh sách nhân viên", staffs_path %>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#pagesProjects">
        <i class="fa fa-server" aria-hidden="true"></i>
        <p>Quản lý project<b class="caret"></b></p>
      </a>
      <div class="collapse" id="pagesProjects">
        <ul class="nav">
          <li>
            <%= link_to "Thêm dự án mới", new_project_path %>
          </li>
          <li>
            <%= link_to "Danh sách dự án", projects_path %>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <%= link_to timesheets_path do %>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p>Quản lý timesheet</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <p>Notifications</p>
      <% end %>
    </li>
  </ul>
</div>
